html {
  scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

#card-left img {
	margin-top: 10px;
	align-self: center;
	width: 15em;
    height: 400px;
}

#name h5 {
	font-size: 300px
}