* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}


#ModalPreview img {
  border: 5px solid #871F78;
}

#portfolio {
	margin-left: auto;
    margin-right: auto;
    width: 20em;
    height: 400px;
}

#portfolio h5 {
	background-color: yellow;
	color: black;
}

#portfolio img {
	height: 325px;
}

html {
  scroll-behavior: smooth;
}
